{% extends 'base.html.twig' %}

{% block title %}EsportRegion - A propos{% endblock %}

{% block body %}

<section id="subheader" class="jarallax">
    <img src="{{asset('images/background/subheader-about.webp')}}" class="jarallax-img" alt="">
    <div class="container z-1000">
        <div class="row">
            <div class="col-lg-12">
                <div class="subtitle wow fadeInUp mb-3">A propos</div>
            </div>
            <div class="col-lg-6">
                <h2 class="wow fadeInUp mb20" data-wow-delay=".2s">Notre Histoire</h2>
            </div>                 
        </div>
    </div>
</section>
{{ asset('')}}
<section class="no-bottom">
    <div class="container">
        <div class="row align-items-center gh-5">
            <div class="col-lg-6 position-relative">
                <div class="images-deco-1">
                    <img src="{{ asset('images/misc/building.webp')}}" class="d-img-1 wow zoomIn" data-wow-delay="0s" alt="">
                    <img src="{{ asset('images/misc/halo-ai.jpg')}}" class="d-img-2 wow zoomIn" data-wow-delay=".5s" alt="">
                    <div class="d-img-3 bg-color wow zoomIn" data-wow-delay=".6s"></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="subtitle mb20">Nous sommes EsportRegion</div>
                <h2 class="wow fadeInUp">L'avenir de l'esport local commence ici</h2>
                <p class="wow fadeInUp">EsportRegion est née de la passion des jeux compétitifs et de la volonté de créer une communauté gaming locale dynamique. Depuis notre création, nous avons à cœur de connecter les joueurs de votre région, de promouvoir les talents locaux et d'offrir des tournois accessibles et passionnants.</p>
                <div class="year-card wow fadeInUp">
                    <h1><span class="id-color">15</span></h1>
                    <div class="atr-desc">ans<br>d'engagement<br>dans l'écosystème Esport local</div>
                </div>
            </div>
        </div>
    </div>
</section>

<section  class="no-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="row gx-5">
                    <div class="col-lg-6 col-md-6 wow fadeInRight" data-wow-delay=".2s">
                        <h4>Notre Vision</h4>
                        <p>Nous croyons en la puissance de l’esport local pour rassembler les communautés, stimuler l'innovation et créer des opportunités pour les talents émergents. À travers des événements accessibles et excitants, nous visons à promouvoir l’esport dans chaque région, en permettant à chaque joueur de se dépasser et de briller.</p>
                    </div>
                    <div class="col-lg-6 col-md-6 wow fadeInRight" data-wow-delay=".4s">
                        <h4>Notre Mission</h4>
                        <p>Notre mission est simple : offrir des tournois locaux de haute qualité pour les joueurs passionnés de tous niveaux. Nous nous engageons à créer une expérience immersive et professionnelle, tout en développant des talents locaux et en offrant un espace où la compétition et la camaraderie coexistent.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="no-bottom wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="subtitle mb20">Notre équipe solide</div>
                <h2 class="mb20 wow fadeInUp">Derrière les coulisses</h2>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 mb-sm-30">
                <div class="f-profile text-center">
                    <div class="fp-wrap f-invert">
                        <div class="fpw-overlay">
                            <div class="fpwo-wrap">
                                <div class="fpwow-icons">
                                    <a href="#"><i class="fa-brands fa-facebook fa-lg"></i></a>
                                    <a href="#"><i class="fa-brands fa-twitter fa-lg"></i></a>
                                    <a href="#"><i class="fa-brands fa-linkedin fa-lg"></i></a>
                                    <a href="#"><i class="fa-brands fa-instagram fa-lg"></i></a>
                                    <a href="#"><i class="fa-brands fa-tiktok fa-lg"></i></a>
                                </div>
                            </div>
                        </div>                                  
                        <div class="fpw-overlay-btm"></div>
                        <img src="{{ asset('images/team/1.webp')}}" class="fp-image img-fluid" alt="">
                    </div>

                    <h4>Robyn Peel</h4>
                    CEO & Founder – *Passionnée par l’esport, Robyn a créé EsportRegion pour offrir aux joueurs locaux un espace où ils peuvent se défier et s’épanouir.*
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6 col-sm-6 mb-sm-30">
                <div class="f-profile text-center">
                    <div class="fp-wrap f-invert">
                        <div class="fpw-overlay">
                            <div class="fpwo-wrap">
                                <div class="fpwow-icons">
                                    <a href="#"><i class="fa-brands fa-facebook fa-lg"></i></a>
                                    <a href="#"><i class="fa-brands fa-twitter fa-lg"></i></a>
                                    <a href="#"><i class="fa-brands fa-linkedin fa-lg"></i></a>
                                    <a href="#"><i class="fa-brands fa-instagram fa-lg"></i></a>
                                    <a href="#"><i class="fa-brands fa-tiktok fa-lg"></i></a>
                                </div>
                            </div>
                        </div>                                  
                        <div class="fpw-overlay-btm"></div>
                        <img src="{{ asset('images/team/3.webp')}}" class="fp-image img-fluid" alt="">
                    </div>

                    <h4>Anna Shepard</h4>
                    Directrice – *Anna supervise les opérations et veille à ce que chaque tournoi soit une expérience inoubliable pour les participants et les spectateurs.*
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6 col-sm-6 mb-sm-30">
                <div class="f-profile text-center">
                    <div class="fp-wrap f-invert">
                        <div class="fpw-overlay">
                            <div class="fpwo-wrap">
                                <div class="fpwow-icons">
                                    <a href="#"><i class="fa-brands fa-facebook fa-lg"></i></a>
                                    <a href="#"><i class="fa-brands fa-twitter fa-lg"></i></a>
                                    <a href="#"><i class="fa-brands fa-linkedin fa-lg"></i></a>
                                    <a href="#"><i class="fa-brands fa-instagram fa-lg"></i></a>
                                    <a href="#"><i class="fa-brands fa-tiktok fa-lg"></i></a>
                                </div>
                            </div>
                        </div>                                  
                        <div class="fpw-overlay-btm"></div>
                        <img src="{{ asset('images/team/4.webp')}}" class="fp-image img-fluid" alt="">
                    </div>

                    <h4>Fynley Wilkinson</h4>
                    Développeur – *Fynley est l'architecte des outils et des plateformes qui permettent à nos tournois de se dérouler sans accroc, avec une expérience fluide et professionnelle pour tous.*
                </div>
            </div>
        </div>
    </div>
</section>



<section>
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-3 col-sm-6 mb-sm-30 position-relative">
                <div class="de_count text-light wow fadeInUp">
                    <h3 class="timer id-color" data-to="10452" data-speed="3000">0</h3>
                    <h4 class="text-uppercase">Joueurs<br>Heureux</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-sm-30 position-relative">
                <div class="de_count text-light wow fadeInUp">
                    <h3 class="timer text-line" data-to="325" data-speed="3000">0</h3>
                    <h4 class="text-uppercase">Tournois<br>Organisés</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-sm-30 position-relative">
                <div class="de_count text-light wow fadeInUp">
                    <h3 class="timer id-color" data-to="43" data-speed="3000">0</h3>
                    <h4 class="text-uppercase">Clubs<br>Partenaires</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-sm-30 position-relative">
                <div class="de_count text-light wow fadeInUp">
                    <h3 class="timer text-line" data-to="15" data-speed="3000">0</h3>
                    <h4 class="text-uppercase">Année<br>Experience</h4>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}
