{% extends 'base.html.twig' %}
{% block title %}EsportRegion - Modifier un Jeux {% endblock %}
{% block body %}
<section id="subheader" class="jarallax">
    <img src="{{asset('images/background/10.webp')}}" class="jarallax-img" alt="">
    <div class="container z-1000">
        <div class="row">
          
            <div class="col-lg-6">
                <h2 class="wow fadeInUp mb20" data-wow-delay=".2s">Modification d'un jeux</h2>
            </div>                 
        </div>
    </div>
</section>
<!-- section close -->
<section>
    <div class="container position-relative z1000">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
               <div class="m-5">
               <twig:ButtonBootstrap
                route="{{ path('app_game')  }}"
                text="Retournez à la liste"
                />
               </div>
            {{ form_start(formEdit) }}
               {{ form_row(formEdit.name) }}
               {{ form_row(formEdit.genre) }}                
               {{ form_row(formEdit.description) }}
               {{ form_row(formEdit.img) }}
               {{ form_row(formEdit.plateforms) }}
               <div class="form-group">  
                   <button type="submit" class=" btn-main">Enregistrer</button>
               </div>
           {{ form_end(formEdit) }}
            </div>
        </div>
    </div>
</section>
{% endblock %}