<div class="col-lg-4 col-md-6 mb10">
    <div class="bloglist item">
            <div class="post-content">
                <div class="post-image">
                    <div class="d-tagline">
                        <span>{{ plateform }}</span>
                        <span>{{ genre }}</span>
                    </div>
                    <img alt="Image" src="{{asset('images/uploads/game/' ~ imgSrcGames) }}" class="lazy">
                </div>
                <div class="post-text">
                    <h4>{{ name }}</h4>
                    <p>{{ description }}</p>
                </div>
            </div>
        </div>
    </div>