<div class="col-xl-3 col-md-6 mb-sm-30 wow fadeInRight my-5" data-wow-delay=".2s">


    <div class="de_pricing-table type-2 rec">
      <div class="d-recommend ">{{ scores}}</div>

        <div class="d-head">
            <h3>Match {{ round }}</h3>
            <div class=" btn-line  subtitle fadeInUp ">{{ game }}</div>
        </div>
        <div class="d-price text-center">
            <h4 class="opt-1">{{ participant_1 }}<span> <br>VS<br> </span>{{ participant_2 }}</h4>
            <p>Date et heures : <strong>{{ date }}</strong></p>
        </div>                                
        <div class="spacer-5"></div>
        <div class="d-group">
            <h4>Le Match</h4>
            <p>
           {{ description }}
            </p>     
        </div>
      
    </div>
</div>